<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuelwatcher | A West Australia FuelWatch Aggregator and Search
        Site.</title>
    <link rel="stylesheet" type="text/css" href="
            {{ url_for('static', filename='node_modules/bulma/css/bulma.css') }}">
    <!--   <link rel="stylesheet"
             href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
    <script defer
            src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>

{% block navbar %}
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png"
                     alt="Bulma: a modern CSS framework based on Flexbox"
                     width="112" height="28">
            </a>
            <div class="navbar-burger" data-target="topstories-nav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="topstories-nav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item"
                   href="{{ url_for('core.index', day='today') }}">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"
                       href="{{ url_for('core.index', day='today') }}">
                        Find More
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item"
                           href="{{ url_for('core.index', day='today') }}">
                            Brand
                        </a>
                        <a class="navbar-item"
                           href="{{ url_for('core.regions') }}">
                            Regions
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}


<!-- Message Flashing -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="container is-fluid">
                <div class="notification is-warning has-text-centered is-size-3">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% block content %}

{% endblock %}

</body>
{% block scripts %}
    {% include 'scripts.html' %}
{% endblock %}
</html>