<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuelwatcher | A West Australia FuelWatch Aggregator and Search
        Site.</title>
    <link rel="stylesheet" type="text/css" href="
            {{ url_for('static', filename='css/bulma.css') }}">
    <!--   <link rel="stylesheet"
             href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script defer
            src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% block maps %}{% endblock %}
</head>

<body>

{% block navbar %}
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item"
               href="{{ url_for('core.index', day='today') }}">
                <p class="is-size-4 has-text-weight-bold">
                    FUELWATCHER
                </p>
            </a>
            <div class="navbar-burger" data-target="topstories-nav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="topstories-nav" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-start">
                    <a class="navbar-item has-text-white"
                       href="{{ url_for('core.regions') }}">
                        Regions
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}


<!-- Message Flashing -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="container is-fluid">
                <div class="notification is-warning has-text-centered is-size-3">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% block content %}

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container is-fluid">
            <div class="content has-text-centered">
                <p>
                    <strong>Fuelwatcher</strong> by <a
                        href="https://danielms.site">Daniel
                    Michaels</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                    The website content
                    is licensed <a
                        href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC
                    BY NC SA 4.0</a>.
                </p>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    {% include 'scripts.html' %}
{% endblock %}
</html>