{% extends 'base.html' %}
{% block maps %}{{ region_map.js }}{% endblock %}

{% block content %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-third">
                <p class="notification is-size-3 has-text-weight-bold has-text-centered">
                    {{ region_value }}</p>
                {% if products is not none %}
                    {% for key, value in products.items() %}
                        <a href="{{ url_for('core.region', region=region, product=key) }}">{{ value }}</a>
                    {% endfor %}
                {% endif %}
                {% for data in resp %}
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                {{ data.title }}
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p>{{ data.address }}</p>
                                <p>{{ data.location | capitalize }}</p>
                                <p>{{ data.description }}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="column is-two-thirds is-mobile">
                <p class="notification is-size-3 has-text-weight-bold has-text-centered">
                    MAP</p>
                {#                <div class="container is-fullscreen">#}
                {{ region_map.html }}
                {#                    </div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}