{% include 'base.html' %}

<div class="container is-fluid">
    <div class="columns">
        <div class="column is-one-third">
            <p class="notification is-size-3 has-text-weight-bold has-text-centered">
                {{ region }}</p>
            {% for info in resp %}
                <ul>
                    <li>
                        <p class="is-size-4 has-text-centered">{{ info.price }}</p>
                        <p class="is-size-4">{{ info['trading-name'] }}</p>
                        <p class="is-size-5">{{ info.address }}</p>
                        <br>
                    </li>
                </ul>
            {% endfor %}
        </div>
    <div class="column is-two-thirds">
             <p class="notification is-size-3 has-text-weight-bold has-text-centered">
                MAP</p>
        <p class="is-size-1">INPUT MAP WITH ALL GEO OF REGION</p>
    </div>
